@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Error</title>
</head>
<body>
	<hgroup>
		<h1>Error.</h1>
		<h2>При попытке перейти на страницу произошла ошибка. Проверте правильность введенного адреса и убедитесь, что у вас достаточно прав для использования данной страницы.</h2>
	</hgroup>
</body>
</html>