@using IS.Model.Item.Person
@model PersonItem

@{
	ViewBag.Title = "Create";
}

<style>
	table {
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	td:first-child {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}
</style>

<h2>Создание новой записи о человеке</h2>

@using (@Html.BeginForm("Create", "Person"))
{
	<table class="table person">
		<tr>
			<td>Фамилия</td>
			<td><input type="text" name="LastName" /></td>
		</tr>
		<tr>
			<td>Имя</td>
			<td><input type="text" name="FirstName" /></td>
		</tr>
		<tr>
			<td>Отчество</td>
			<td><input type="text" name="FatherName" /></td>
		</tr>
	</table>
	<input type="submit" value="Создать"/>
}
@Html.ActionLink("Просмотр списка людей", "List")