@{
    ViewBag.Title = "Index";
}
<h2>Правила.</h2>

Правила получения зачетов, сдачи лаб и т.д. :
<br/>
<br/>
Если кратко, то ходим на все лекции(+42), сдаем все лабы в срок(+90), сдаем курсовой проект в срок (+25) и отвечаем на 5 вопросов на экзамене.
<br/>
Если появилось желание прогуливать, то придется читать дальше.
<br/>
<br/>
Подробнее:
<br/>
<br/>
В течении всего курса будут начислятся баллы, в дальнейшем именуемые "Опыт".
<br/>
Опыт будет мерой успешности прохожения курса. Его можно как получить так и потерять.
<br/>
В начале его подсчет будет вестись мной вручную. Позже, надесь, сможем автоматизировать этот процесс.
<br/>
<br/>
За что можно потерять опыт:
<br/>
1. Практическая/лабораторная зача не выполнена до конца семестра(до последнего занятия по плану 24 декабря) - минус 5 опыта;
<br/>
<br />
За что можно получить опыт:
<br/>
1. Посещение лекционного занятия - плюс 2 опыта;
<br/>
2. Выполнение практической/лабораторной работы рассчитанной на одно занятие в срок - плюс 5 опыта;
<br/>
3. Выполнение практической/лабораторной работы рассчитанной на одно занятие с опозданием мение недели - плюс 2 опыта;
<br/>
4. Выполнение курсовой работы в срок (последние 5 лабораторных занятий) - плюс 25 опыта;
<br/>
5. Выполнение курсовой работы  - плюс 10 опыта;
<br/>
6. Выполнение дополнительных задач - в зависимости от сложности задачи.
<br/>
7. Выполнение дополнительных задач в срок - дополнительно плюс один опыта.
<br/>
8. Если задача на разработку кода принята в срок и с первой попытки x2 опыта за задачу (тонкий намек на то, что не стоит расчитывайть сдать лабораторные задачи в последний день срока).
<br/>
<br/>
Так же будут дополнительные возможности чтобы получить (потерять) опыт:
<br/>
1. Если на занятии присутствует менее 50% группы, то всем присутствующим - плюс 2 опыта, а всем отсутствующим - минус 2 опыта (работает как для лекций так и для лабораторных/практик);
<br/>
2. При выполнении зачи в которой требуется разработать интерфейс создан не только функционал, но и с использованием дополнительных Web технологий (например jQuery) для улучшения удобства и внешнего вида - в зависимости от качества и того было ли в проекте подобное сделано ранее от 1 до 10 опыта.
<br/>
3. Если функционал(включая интерфейс) по постановке задач будет выполнен до конца сентября - плюс 20 опыта всем выполнившим хотя бы одну задачу на прямую с связанную с функционалом.
<br/>
4. Возможно появление дополнительных бонусов(положительных).
<br/>
<br/>
Про задачи:
<br/>
1. Задачи будут разных типов
<br/>
1.1. Работа с документами (создание инструкций по использованию ПО, документация к написанному коду и др.);
<br/>
1.2. На разработку кода (C#, T-SQL, Html, JavaScript), может включать другие типы задач;
<br/>
1.3. На изменение структуры базы данных;
<br/>
1.4. На добавление данных в базу;
<br/>
1.5. На исправление ошибок.
<br/>
2. У каждой задачи будет своя сложность, в зависимости от которой, при её выполнении, будет начислен опыт;
<br/>
3. За дополнительные задачи нет штрафов.
<br/>
4. У каждой задачи есть сроки
<br/>
5. В первую очередь проверяются те лабораторные у которых не истек срок.
<br/>
6. Для написанного кода будут введены стандарты оформления которые необходимо будет соблюдать.
<br/>
7. После здачи задачи она может быть возвращена по следующим причинам:
<br/>
7.1. Решение не соответствует поставленной задаче;
<br/>
7.2. Код не соответствует стандартам оформления;
<br/>
7.3. Если тестовое покрытие написанного кода на C# мение 80% (возможны исключения).
<br/>
7.4. Если отсутствуют комментарии для методов или классов в C#.
<br />
<br/>
Про экзамен:
<br/>
1. Для того чтобы получить допуск к экзамену необходимо получить 157 опыта (зачение зависит от проведенных по плану занятий и это значение может быть уменьшено только в случае, если занятие не состоится по каким либо причинам).
<br/>
2. По умолчанию будет 3 вопроса на билет (1 теория/1 задача/1 вопрос по работе созданного нами проекта) + 2 индивидуальных дополнительных вопроса по моему выбору;
<br/>
3. Каждый ответ на вопрос оценивается в 1 бал, соответственно в сумме максимум будет 5;
<br/>
4. За каждые 25 опыта сверх минимума (157) становиться меньше на 1 вопрос (для первых 5 человек из каждой группы максимум -5 вопросов, для остальных максимум -2 вопроса).
<br/>
5. п.4. только для первых 5 человек из каждой группы.
<br/>
<br/>
По плану: 21 лекция и 23 практики/лабы(для каждой группы, включая 5 пар для курсовой работы)
<br/>